.form__submitted {
  margin-top: 3rem;
  font-size: 1.2rem;
  max-width: 450px;
  font-weight: lighter;
}

#contact {
  --animate-duration: 1.4s;
}
#contact .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#contact .container .contact__title {
  transition: var(--animate-duration);
  font-weight: lighter;
  font-size: 2.5rem;
  text-align: center;
}
#contact .container .contact__desc {
  transition: var(--animate-duration);
  max-width: 500px;
  text-align: center;
  line-height: 1.5rem;
}
#contact .container .contact__form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 1rem;
}
#contact .container .contact__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: var(--animate-duration);
}
#contact .container .contact__info li {
  display: flex;
  gap: 1rem;
  align-items: center;
}
#contact .container .contact__info li i {
  font-size: 1.2rem;
}
#contact .container .contact__info li a {
  transition: var(--transition-duration) all ease-in-out;
  transition-property: transform, color;
}
#contact .container .contact__info li a:hover {
  color: var(--main-color);
  transform: translateX(2px);
}
#contact .container .contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition: var(--animate-duration);
}
#contact .container .contact__form input,
#contact .container .contact__form textarea {
  background: none;
  border: 1px solid #919090;
  border-radius: 1rem;
  padding: 1rem 2rem;
  width: 100%;
}
#contact .container .contact__form input::-moz-placeholder, #contact .container .contact__form textarea::-moz-placeholder {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
#contact .container .contact__form input:-ms-input-placeholder, #contact .container .contact__form textarea:-ms-input-placeholder {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
#contact .container .contact__form input::placeholder,
#contact .container .contact__form textarea::placeholder {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
#contact .container .contact__form input:focus,
#contact .container .contact__form textarea:focus {
  outline: 1px solid var(--main-color);
}
#contact .container .contact__form textarea {
  resize: none;
}
#contact .container .contact__form .form__btn-wrapper {
  display: flex;
  gap: 1.5rem;
}
#contact .container .contact__form button {
  background: var(--main-color);
  padding: 1rem;
  width: 150px;
  border-radius: 1rem;
  transition: var(--transition-duration) transform ease-in-out;
}
#contact .container .contact__form button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 900px) {
  #contact .container .contact__form-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2.5rem;
  }
  #contact .container .contact__form button {
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  #contact .container .contact__info {
    margin-bottom: 3rem;
  }
}/*# sourceMappingURL=contact.css.map */