#home {
   height: 100vh;

   .container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .home__profile {
         img {
            border-radius: 50%;
         }
      }
   }
}
