.footer {
   background-color: black;
   min-height: 20vh;
   width: 100%;
   margin-top: 3rem;
   padding: 1.5rem 0;
   display: flex;
   justify-content: space-between;
   align-items: center;

   .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      .footer_socials {
         display: flex;
         gap: 2rem;

         li {
            transition: var(--transition-duration) transform ease-in-out;
            i {
               font-size: 1.5rem;
               transition: var(--transition-duration) color ease-in-out;
            }
            &:hover {
               transform: translateX(2px);
               i {
                  color: var(--main-color);
               }
            }
         }
      }
   }
}

@media screen and (max-width: 350px) {
   .footer {
      min-height: 30vh;
      .container .footer_socials {
         flex-direction: column;
      }
   }
}
