.header {
   position: fixed;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   max-width: var(--container-width);
   padding: 1.5rem 1rem;
}

.header .header__title {
   font-size: 1.2rem;
   cursor: pointer;
   transition: var(--transition-duration) color ease-in-out;
}

.header .header__title:hover {
   color: var(--main-color);
}

.header .header__nav {
   --nav-gap: 2.5rem;
   display: flex;
   gap: var(--nav-gap);
}

.header .header__nav__menu {
   display: flex;
   gap: var(--nav-gap);
}

.header .header__nav__menu li a {
   transition: var(--transition-duration) color;
}

.header .header__nav__menu li a:hover {
   color: var(--main-color);
}
